/**
 * prism js dark theme, based on darcula
 */
pre[class*="language-"] {
	padding: 1rem;
	margin: .5rem 0;	
	overflow: hidden;
}
code[class*="language-"]{
	overflow: auto;
}

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
	font-size: .875rem;
	text-shadow: none;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	background: none;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	background: #1f2023;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6DCB77;
}

.token.punctuation {
	color: #ccc;
}

.token.tag {
	color: #50fa7b;
	color: #fff;
}

.token.attr-name {
	color: #ff79c6;
}

/*  .token.tag,  .token.attr-name,  .token.namespace,  .token.deleted {
	color: #e2777a;
} */

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number {
	color: #bd93f9;
}

.token.function {
	color: #8be9fd;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #8be9fd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #f1fa8c;
}

.token.operator,
.token.entity,
.token.url {
	color: #ff79c6;
	background: transparent;
}

.token.inserted {
	color: green;
}