---
import { SITE_AUTHOR } from "../config";
---

<div class="bio-full centered-content">
    <div>
        <h1>Hey, I'm {SITE_AUTHOR.name}</h1>
        <p>{SITE_AUTHOR.summary}</p>
    </div>
</div>
