/* PrismJS 1.19.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=clike+javascript&plugins=highlight-keywords+normalize-whitespace */

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"], pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	pointer-events: none;
}

/* Code blocks */

pre[class*="language-"] {
	padding: 1em 1.5em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */

:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag, .token.attr-name, .token.namespace, .token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean, .token.number, .token.function {
	color: #f08d49;
}

.token.property, .token.class-name, .token.constant, .token.symbol {
	color: #f8c555;
}

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
	color: #cc99cd;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
	color: #7ec699;
}

.token.operator, .token.entity, .token.url {
	color: #67cdcc;
}

.token.important, .token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

code[class*="language-"], pre[class*="language-"] {
	color: #000;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
	background: #eee;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
	color: #008000;
}

.token.punctuation {
	color: #808080;
}

.token.tag, .token.attr-name, .token.namespace, .token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean, .token.number {
	color: #444;
}

.token.function {
	color: #FF00FF;
}

.token.property, .token.class-name, .token.constant, .token.symbol {
	color: rgb(6, 150, 14);
}

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
	color: #11B7BE;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
	color: #FF0000;
}

.token.operator, .token.entity, .token.url {
	color: #808080;
}

.token.inserted {
	color: green;
}

.dark code[class*="language-"], .dark pre[class*="language-"] {
	color: #f8f8f2;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.dark :not(pre)>code[class*="language-"], .dark pre[class*="language-"] {
	background: #1f2023;
}

.dark .token.comment, .dark .token.block-comment, .dark .token.prolog, .dark .token.doctype, .dark .token.cdata {
	color: #6DCB77;
}

.dark .token.punctuation {
	color: #ccc;
}

.dark .token.tag, .dark .token.attr-name, .dark .token.namespace, .dark .token.deleted {
	color: #e2777a;
}

.dark .token.function-name {
	color: #6196cc;
}

.dark .token.boolean, .dark .token.number {
	color: #bd93f9;
}

.dark .token.function {
	color: #8be9fd;
}

.dark .token.property, .dark .token.class-name, .dark .token.constant, .dark .token.symbol {
	color: #f8c555;
}

.dark .token.selector, .dark .token.important, .dark .token.atrule, .dark .token.keyword, .dark .token.builtin {
	color: #8be9fd;
}

.dark .token.string, .dark .token.char, .dark .token.attr-value, .dark .token.regex, .dark .token.variable {
	color: #f1fa8c;
}

.dark .token.operator, .dark .token.entity, .dark .token.url {
	color: #ff79c6;
}

.dark .token.inserted {
	color: green;
}

.quiz-container {
	overflow: auto;
	height: 100%;
	width: 100%;
	margin-bottom: 2rem;
}

.quiz {
	margin: 2rem 1rem 1rem 1rem;
}

.quiz header {
	font-size: 1.1rem;
	font-weight: 100;
	padding: 0.5rem 0;
	font-style: italic;
}

.quiz .options {
	display: flex;
	align-items: center;
}

.quiz .options>button {
	flex-grow: 1;
	flex-basis: 0;
	width: 50%;
	overflow: hidden;
}

@media (max-width: 480px) {
	.quiz .options {
		flex-direction: column;
	}
	.quiz .options>button {
		width: 100%;
	}
}

.quiz .options .or {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 32px;
	height: 32px;
	min-width: 32px;
	margin: -15px;
	z-index: 10;
	border: 2px solid #6196cc;
	background-color: #eee;
	font-size: smaller;
	z-index: 10;
}

.dark .options .or {
	border: 2px solid #8be9fd;
	background-color: #000;
}

.quiz .options .yes, .quiz .options .no {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 36px;
	height: 36px;
	min-width: 36px;
	z-index: 10;
	border: 3px solid #6196cc;
	background-color: #eee;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding-left: 2px;
	opacity: 0;
	pointer-events: none;
}

.dark .quiz .options .yes, .dark .quiz .options .no {
	border: 3px solid #8be9fd;
	background-color: #000;
}

.quiz .options .yes {
	border-color: green;
}

.dark .quiz .options .yes {
	border-color: greenyellow;
}

.quiz .options .yes::before {
	content: '👍';
}

.quiz .options .no {
	border-color: red;
}

.dark .quiz .options .no {
	border-color: red;
}

.quiz .options .no::before {
	content: '👎';
	padding-top: 5px;
}

.quiz .options>button.selected div.yes, .quiz .options>button.selected div.no {
	animation: popup .5s ease-in-out forwards;
}

.quiz button {
	background: #eee;
	border: 2px solid #eee;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font-size: inherit;
	align-self: stretch;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	transition: border .3s ease-in-out;
	position: relative;
}

.dark .quiz button {
	background: #000;
	border: 2px solid #000;
}

.quiz button:hover, .quiz button.selected {
	border: 2px solid #6196cc;
}

.dark .quiz button:hover, .dark .quiz button.selected {
	border: 2px solid #8be9fd;
}

.quiz button pre {
	margin: 0;
}

@keyframes popup {
	from {
		opacity: 0;
		transform: scale(1.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}